.heading{
    text-align: center;
    font-size: 60px;
}

/* this will make the heading size 60 pixels and center */

.banner .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* this is responsible for making the img below the heading be in the center */

.biography{
    width: 800px;
    text-align: center;
    font-size: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* this is responsible for making the paragraph below the img 800pixles in width and centerd */

div.container {
    text-align: center;
  }

  /* this is used to center the list */
  
  ul.myUL {
    display: inline-block;
    text-align: left;
  }

  li{
    list-style-type: none; 
  }

  /* this is reposinle for removing the underline from the list */

li a{
    color: black !important;
    font-size: 25px;
  }

  /* this is reposinle for styling the ancore tags */

  a{
    font-size: 25px;
  }

  /* in the side pages this is responsible for styling the go back buttons */